Thank you for using the e-NABLE Handomatic.
<br/><br/>
The following is your reference ticket ID: 425809787-2526011925-1866293188-f9350cf
<br/>The design that you selected to build is available at:
<a href="http://webapp.e-nable.me/ticket/425809787-2526011925-1866293188-f9350cf.zip">http://webapp.e-nable.me/ticket/425809787-2526011925-1866293188-f9350cf.zip</a>.
<br/>
<br/><b>Measurements:</b>
<br/>- Left Hand
<br/>- R8: 80.04 mm
<br/><b>Model:</b>
<br/>- Palm: Raptor Hand: Supports
<br/>- Finger Style: Raptor Hand
<br/>- Gauntlet: Raptor Hand, Supports
<br/>- Padding: 5 mm
<br/><b>Generated:</b> 2015-01-10 14:04:31
<br/><br/>
This zip file contains the STL file(s) that can be printed on a 3D printer. You can also forward this to a friend with a 3D printer to have the files printed for you.
<br/><br/>
For more information about printing and assembling the prosthetic hands, see: <a href="http://enablingthefuture.org/upper-limb-prosthetics/">http://enablingthefuture.org/upper-limb-prosthetics/</a>. 
<br/><br/>
To return to your page, you can <a href="http://webapp.e-nable.me/?email=mabrams@helpguest.com&part=0&Left1=0&Left2=0&Left3=0&Left4=0&Left5=0&Left6=0&Left7=0&Left8=0&Left9=0&Left10=0&Right1=0&Right2=0&Right3=0&Right4=0&Right5=0&Right6=0&Right7=0&Right8=80.04&Right9=0&Right10=0&prostheticHand=0&gauntletSelect=3&fingerSelect=4&palmSelect=5&Padding=5&WristBolt=0&KnuckleBolt=0&JointBolt=0&ThumbBolt=0">click here</a>.
<br/><br/>
If you need help locating someone in your area to help you, please fill out the <a href="http://goo.gl/lW1uX6">e-NABLE intake form</a>.
<br/><br/>
<font style="font-size:0.95em"><b>&copy;e-NABLE</b> <a href="http://www.enablingthefuture.org">www.enablingthefuture.org</a></font>
<br/><br/>
